* Sets: 
Sets are an unordered collection of unique elements. They are used to eliminate duplicate elements and perform mathematical set operations like union, intersection, difference, and symmetric difference.
Sets are useful for membership testing, removing duplicates from a list, and performing set operations.
* Syntax for creating a set:
```python
   my_set = {1, 2, 3, 4, 5}
```
* Sets are mutable, meaning we can add or remove elements from them.
```python
   my_set.add(6)
   my_set.remove(3)
```
* Sets can be used to perform set operations like union, intersection, difference, and symmetric difference.
```python

In [3]:
## Create a Set
my_set = {1, 2, 3, 4, 5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [4]:
my_empty_set = set()
print(my_empty_set)
print(type(my_empty_set))

set()
<class 'set'>

In [7]:
my_set = set([1, 2, 3, 4, 5,6,1,2,3])
print(my_set)

{1, 2, 3, 4, 5, 6}

In [8]:
## Basic set operations
# Adding elements
my_set.add(6)
print(my_set)

# Removing elements
my_set.remove(4)
print(my_set)

# Clearing the entire set
my_set.clear()
print(my_set)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 5, 6}
set()

In [13]:
Set={1, 2, 3, 4, 5, 6, 7, 8, 9}
Set.remove(5)
print(Set)
Set.remove(10)

{1, 2, 3, 4, 6, 7, 8, 9}

KeyError: 10

In [14]:
# discard : removes an element if it exists, does nothing if it doesn't
my_set = {1, 2, 3, 4, 5}
my_set.discard(3)
print(my_set)
my_set.discard(10)
print(my_set)

{1, 2, 4, 5}
{1, 2, 4, 5}

In [15]:
## pop method
# pop : removes and returns an arbitrary element from the set
my_set = {1, 2, 3, 4, 5}
element = my_set.pop()
print(element)
print(my_set)

1
{2, 3, 4, 5}

In [16]:
## clear method
# clear : removes all elements from the set
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [18]:
## Set membership
# in : checks if an element is in the set
my_set = {1, 2, 3, 4, 5}
print(3 in my_set)
print(6 in my_set)
# not in : checks if an element is not in the set
print(6 not in my_set)
print(3 not in my_set)

True
False
True
False

### set mathematical operations

In [ ]:
# union : combines two sets, removing duplicates
set1 = {1, 2, 3}
set2 = {3, 4, 5,2,3}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4, 5}

In [22]:
## intersection
# intersection : returns a new set with elements common to both sets
set1 = {1, 2, 3}
set2 = {3, 4, 5,1}
set3 = set1.intersection(set2)
print(set3)

{1, 3}

In [24]:
## intersection_update
# intersection_update : updates the set with elements common to both sets
set1 = {1, 2, 3}
set2 = {3, 4, 5,1}
set1.intersection_update(set2)
print(set1)

{1, 3}

In [30]:
## difference
# difference : returns a new set with elements in the first set but not in the second
set1 = {1, 2, 3,4,5,7}
set2 = {3, 4, 5,1,9,11}
set3 = set1.difference(set2)
print(set3)
set4 = set2.difference(set1)
print(set4)

{2, 7}
{9, 11}

#### Symmetric difference

In [ ]:
## Symmetric difference
# symmetric_difference : returns a new set with elements in either set but not in both simply removes the common elements
# symmetric_difference can also be used as a method or an operator
set1 = {1, 2, 3,4,5,7}
set2 = {3, 4, 5,1,9,11}
set3 = set1.symmetric_difference(set2)
print(set3)

{2, 7, 9, 11}

In [35]:
## Sets methods
set1={1, 2, 3}
set2={1,2,3,4,5,6}

##issubset
# issubset : checks if all elements of set1 are in set2
print(set1.issubset(set2))
print(set2.issubset(set1)) # False, because set2 has elements not in set1

##issuperset
# issuperset : checks if all elements of set2 are in set1
print(set1.issuperset(set2))
print(set2.issuperset(set1))

True
False
False
True

In [37]:
lt=[1, 2, 3, 4,4, 5]
set_from_list = set(lt)
print(lt) # original list
print(set_from_list) # converts list to set, removing duplicates

[1, 2, 3, 4, 4, 5]
{1, 2, 3, 4, 5}

In [39]:
## Counting Unique words in text
text = "hello world welcome to the blind world of python programming"
words = text.split()
unique_words=set(words)
print(unique_words) # prints unique words in the text
print(len(unique_words)) # prints the number of unique words in the text

{'blind', 'python', 'programming', 'welcome', 'to', 'of', 'hello', 'the', 'world'}
9