#### List CRUD operations

1. Create a Python List

In [1]:
## Integer List Example
myList=[24, 25, 26, 27, 28, 29, 30]
print(myList)

[24, 25, 26, 27, 28, 29, 30]

In [2]:
## String List Example
myList2=["Dilli", "Rolex","Rocky"]
print(myList2)

['Dilli', 'Rolex', 'Rocky']

In [3]:
## List with Mixed Types
myList3=[1, "Dilli", 2.5, True]
print(myList3)

[1, 'Dilli', 2.5, True]

2. Access Values From A List

In [4]:
myList=["Nathan", "Dilli", "Rolex", "Rocky"]
print(myList[0])  # Accessing the first element
print(myList[1])  # Accessing the second element
print(myList[2])  # Accessing the third element
print(myList[3])  # Accessing the fourth element
## Accessing the last element
print("----------------------")
print(myList[-1])  # Accessing the last element
print(myList[-2])  # Accessing the second last element
print(myList[-3])  # Accessing the third last element
print(myList[-4])  # Accessing the fourth last element

Nathan
Dilli
Rolex
Rocky
----------------------
Rocky
Rolex
Dilli
Nathan

3. Update a List value

In [5]:
myList=["Nathan", "Dilli", "Rolex", "Rocky"]
## Update a List value
myList[0] = "Updated Name"  # Update the first element
print(myList)

['Updated Name', 'Dilli', 'Rolex', 'Rocky']

4. Remove a List value

In [6]:
myList=["Nathan", "Dilli", "Rolex", "Rocky"]
## Remove a List value
myList.remove("Rolex")  # Remove the element "Rolex"
print(myList)

['Nathan', 'Dilli', 'Rocky']

5. Delete a List value

In [7]:
myList=["Nathan", "Dilli", "Rolex", "Rocky"]
del myList[1]  # Delete the second element
print(myList)  # Output: ['Nathan', 'Rolex', 'Rocky']

['Nathan', 'Rolex', 'Rocky']

6. Remove all the elements from the list

In [8]:
myList=["Nathan", "Dilli", "Rolex", "Rocky"]
print(f"Before Clearing: {myList}")
myList.clear()  # Remove all elements from the list
print(f"After Clearing: {myList}")  # Output: []

Before Clearing: ['Nathan', 'Dilli', 'Rolex', 'Rocky']
After Clearing: []

7. Remove and return elements

In [9]:
myList=["Nathan", "Dilli", "Rolex", "Rocky"]
myList2=["Stalin", "Sagar", "Ravi"]
print(myList.pop())  # Remove and return the last element
print(myList)  # Output: ['Nathan', 'Dilli', 'Rolex']
print(myList2.pop(1))  # Remove and return the element at index 1
print(myList2)  # Output: ['Stalin', 'Ravi']

Rocky
['Nathan', 'Dilli', 'Rolex']
Sagar
['Stalin', 'Ravi']

8. Remove multiple elements from a list

In [10]:
myList=["Dilli", "Rolex", "Rocky", "Muthu", "Sagar"]
print(f"Before Deletion:\n{myList}")
del myList[1:3]  # Remove elements from index 1 to 2
print(f"After Deletion:\n{myList}")  # Output: ['Dilli', 'Muthu', 'Sagar']

Before Deletion:
['Dilli', 'Rolex', 'Rocky', 'Muthu', 'Sagar']
After Deletion:
['Dilli', 'Muthu', 'Sagar']

#### List Slicing

1. Slicing

In [11]:
myList=["Dilli", "Rolex", "Rocky", "Muthu", "Sagar"]
print(f"Original List: {myList}")
print(f"slice 1:3->{myList[1:3]}")  # Output: ['Rolex', 'Rocky']
print(f"slice 0:4->{myList[0:4]}")  # Output: ['Dilli', 'Rolex', 'Rocky', 'Muthu']
print(f"slice 2:->{myList[2:]}")  # Output: ['Rocky', 'Muthu', 'Sagar']

Original List: ['Dilli', 'Rolex', 'Rocky', 'Muthu', 'Sagar']
slice 1:3->['Rolex', 'Rocky']
slice 0:4->['Dilli', 'Rolex', 'Rocky', 'Muthu']
slice 2:->['Rocky', 'Muthu', 'Sagar']

2. Iterate Through The List

In [12]:
myList=["Dilli", "Rolex", "Rocky", "Muthu", "Sagar"]
print(f"Original List: {myList}")
for i in myList:
    print("-",i)

Original List: ['Dilli', 'Rolex', 'Rocky', 'Muthu', 'Sagar']
- Dilli
- Rolex
- Rocky
- Muthu
- Sagar

3. Add elements to the list

In [13]:
myList=["Dilli", "Rolex", "Rocky"]
print(f"Original List: {myList}")
myList.append("Muthu")  # Add "Muthu" to the end of the list
print(f"After Append: {myList}")  # Output: ['Dilli', 'Rolex', 'Rocky', 'Muthu']

Original List: ['Dilli', 'Rolex', 'Rocky']
After Append: ['Dilli', 'Rolex', 'Rocky', 'Muthu']

4. Insert elements to the list at a specific position(index)

In [14]:
myList=["Dilli", "Rolex", "Rocky"]
print(f"Original List: {myList}")
myList.insert(1, "Muthu")
print(f"After Insert: {myList}")
myList.insert(2, "Mahesh")

Original List: ['Dilli', 'Rolex', 'Rocky']
After Insert: ['Dilli', 'Muthu', 'Rolex', 'Rocky']

5. Check if a specific element exists in the list

In [15]:
myList=["Dilli", "Rolex", "Rocky", "Muthu"]
print(f"Original List: {myList}")
if "Muthu" in myList:
    print("Muthu is in the list")
if "Sagar" not in myList:
    print("Sagar is not in the list")

Original List: ['Dilli', 'Rolex', 'Rocky', 'Muthu']
Muthu is in the list
Sagar is not in the list

6. Find the length of the list

In [16]:
print(len(myList))  # Output: 4

4

8. Find Index of element

In [17]:
print(myList.index("Muthu"))  # Output: 3

3

9. Extend the list by adding another list to the end

In [18]:
myList1=[10, 20, 30, 40]
myList2=[50, 60, 70, 80]
print(f"List 1: {myList1}\nList 2: {myList2}")
extendedList=myList1.extend(myList2)  # Extend myList1 by adding elements from myList2
print(f"Extended List:\n{myList1}")

List 1: [10, 20, 30, 40]
List 2: [50, 60, 70, 80]
Extended List:
[10, 20, 30, 40, 50, 60, 70, 80]

10. Get maximum and minimum values from the list

In [19]:
myList=[10, 20, 30, 40, 50, 60, 70, 80]
minimunValue=min(myList)
maximumValue=max(myList)
print(f"Minimum Value: {minimunValue}")  # Output: 10
print(f"Maximum Value: {maximumValue}")  # Output: 80

Minimum Value: 10
Maximum Value: 80

11. Make a copy of the entire list

In [20]:
myList=[10, 20, 30, 40, 50, 60, 70, 80]
print(f"Original List: {myList}")
myList2=myList.copy()
print(f"Copied List: {myList2}")
print(f"Copied List is same as Original List: {myList2 == myList}")  # Output: True
print("Modified Copied List")
myList2[0] = 100  # Modify the copied list
print(myList2)
print("Original List remains unchanged",myList)

Original List: [10, 20, 30, 40, 50, 60, 70, 80]
Copied List: [10, 20, 30, 40, 50, 60, 70, 80]
Copied List is same as Original List: True
Modified Copied List
[100, 20, 30, 40, 50, 60, 70, 80]
Original List remains unchanged [10, 20, 30, 40, 50, 60, 70, 80]

12. Sort a list in python

In [21]:
myList=[80, 70, 60, 50, 40, 30, 20, 199, 10]
print(f"Original List: {myList}")
myList.sort()  # Sort the list in ascending order
print(f"Sorted List: {myList}")
myList.sort(reverse=True)  # Sort the list in descending order
print(f"Sorted List in Descending Order: {myList}")

Original List: [80, 70, 60, 50, 40, 30, 20, 199, 10]
Sorted List: [10, 20, 30, 40, 50, 60, 70, 80, 199]
Sorted List in Descending Order: [199, 80, 70, 60, 50, 40, 30, 20, 10]

13. Reverse a list in python

In [22]:
myList=[80, 70, 60, 50, 40, 30, 20, 10, 44]
print(f"Original List: {myList}")
myList.reverse()  # Reverse the list
print(f"Reversed List: {myList}")

Original List: [80, 70, 60, 50, 40, 30, 20, 10, 44]
Reversed List: [44, 10, 20, 30, 40, 50, 60, 70, 80]

In [23]:
print("mahesh")

mahesh

In [24]:
mahesh=[80, 70, 60, 50, 40, 30, 20, 10, 44]
print(f"Original List: {mahesh}")
mahesh.reverse()  # Reverse the list
print(f"Reversed List: {mahesh}")

Original List: [80, 70, 60, 50, 40, 30, 20, 10, 44]
Reversed List: [44, 10, 20, 30, 40, 50, 60, 70, 80]

## List Exercise from GeeksForGeeks
1. List Operations

In [25]:
a=[10, 20, 30, 40, 50]
# Access 1st element
print(a[0])
# Access last element
print(a[-1])

10
50

2. Using List Comprehension

In [26]:
a=[10, 20, 30, 40, 50]
# Create a new list wuth items greater than 20
b=[item for item in a if item>20]
print(b)

[30, 40, 50]

3. Using List Slicing

In [27]:
a=[10, 20, 30, 40, 50]
# slice from index 1 to 3
print(a[1:4]) # 1 inclusive, 4 Exclusive

[20, 30, 40]

4. Using Looop
  - To access all the elements

In [28]:
a=[10, 20, 30, 40, 50]
for item in a:
  print(item)

10
20
30
40
50

#### Changing List Items

1. Using Indexing

In [29]:
a=[10, 20, 30, 40, 50]
print(a)
# change the list item at index 1
a[1]=25
print(a)

[10, 20, 30, 40, 50]
[10, 25, 30, 40, 50]

2. Using Slicing for Multiple Items

In [30]:
a=[10, 20, 30, 40, 50]
# replacing items at indices 1 and 2
a[1:3]=[21,31]
print(a)

[10, 21, 31, 40, 50]

3. Using List Comprehension
  - simplest way to update list based on condition

In [31]:
a=[10, 15, 20, 25]
# Double even unmber
a=[x*2 if x%2==0 else x for x in a]
print(a)

[20, 15, 40, 25]

4. Using loop with enumerate
  - enumerate() allows us to iterate through the list while keeping track of indices

In [32]:
a=[10, 15, 20, 25]
# Adding 5 to odd numbers
for i,x in enumerate(a):
  if x % 2!=0:
    a[i]+=5
print(a)

[10, 20, 20, 30]

5. Using map()
  - The map() function can be used for functional-style updates by applying a function to each element. We use map() to apply the function and convert the result back to a list.

In [33]:
# Example: Inrementing all numbers by 1
a=[10, 20, 30]
a=list(map(lambda x:x+1,a))
print(a)

[11, 21, 31]

#### Replacing values iin List

1. Using Lambda Function

In [34]:
a=[10, 20, 30, 40, 50]
b=list(map(lambda x:99 if x == 30 else x, a))
print(b)

[10, 20, 99, 40, 50]

2. Using fo loop

In [35]:
a=[10, 20, 30, 40, 50]
for i in range(len(a)):
  if a[i]==30:
    a[i]=99
print(a)

[10, 20, 99, 40, 50]

3. Using while loop

In [36]:
a=[10, 20, 30, 40, 50]
i=0
while i<len(a):
  if a[i]==30:
    a[i]=99
  i+=1
print(a)

[10, 20, 99, 40, 50]

#### Append Items to a list

  - append() method in Python is used to add a single item to the end of list. This method modifies the original list and does not return a new list. Let's look at an example to better understand this.

In [37]:
a = [2, 5, 6, 7]
# Use append() to add the element 8 to the end of the list
a.append(8)
print(a)

[2, 5, 6, 7, 8]

In [38]:
a=[1, "hello", 3.14]
a.append(True)
print(a)

[1, 'hello', 3.14, True]

1. Appending List to List

In [39]:
a=[1, 2, 3]
a.append([4, 5])
print(a)

[1, 2, 3, [4, 5]]

2. Appending Using a Loop

In [40]:
a=[]
for i in range(5):
  a.append(i)
print(a)

[0, 1, 2, 3, 4]

1. Append vs Extend vs Insert
  - append(x):
    Adds x as a single element at the end of the list.
  - extend(iterable):
    Adds all elements of iterable individually to the list.
  - insert(index, x):
    Inserts x at the specified index.

In [41]:
a = [1, 2, 3]
a.append([4, 5])
print(a)

b = [1, 2, 3]
b.extend([4, 5])
print(b)

[1, 2, 3, [4, 5]]
[1, 2, 3, 4, 5]

#### Python List insert() Method

In [42]:
# making a list
score = [43,45,99,76]
#inserting a new score at third position
score.insert(2, 45)
#printing new list
print(score)

[43, 45, 45, 99, 76]

In [43]:
list = ['Sun', 'rises', 'in', 'the', 'east']
list.insert(0, "The")
print(list)

['The', 'Sun', 'rises', 'in', 'the', 'east']

In [44]:
list1 = [ 1, 2, 3, 4, 5, 6, 7 ]
# insert 10 at 4th index
list1.insert(4, 10)
print(list1)

[1, 2, 3, 4, 10, 5, 6, 7]

In [ ]:
# attribute error
string = "1234567"

string.insert(10, 1)
print(string)

In [ ]:
# Python3 program for Insertion in a list
# before any element using insert() method

list1 = [ 1, 2, 3, 4, 5, 6 ]

# Element to be inserted
element = 13

# Element to be inserted before 3
beforeElement = 3

# Find index
index = list1.index(beforeElement)

# Insert element at beforeElement
list1.insert(index, element)
print(list1)

[1, 2, 13, 3, 4, 5, 6]

In [ ]:
list1 = [ 1, 2, 3, 4, 5, 6 ]
# tuple of numbers
num_tuple = (4, 5, 6)
# inserting a tuple to the list
list1.insert(2, num_tuple)
print(list1)

[1, 2, (4, 5, 6), 3, 4, 5, 6]

In [ ]:
fruits = ['apple', 'banana', 'cherry']
fruits.insert(0, 'orange')
print(fruits)
 # Output: ['orange', 'apple', 'banana', 'cherry']

['orange', 'apple', 'banana', 'cherry']

In [ ]:
fruits = ['apple', 'banana', 'cherry']
fruits.insert(-1, 'orange')
print(fruits)
# Output: ['apple', 'banana', 'orange', 'cherry']

['apple', 'banana', 'orange', 'cherry']

In [ ]:
my_list = [{'name': 'Alice', 'age': 30},
           {'name': 'Bob', 'age': 25}]
new_dict = {'name': 'Charlie', 'age': 40}

my_list.append(new_dict)

print(my_list)

[{'name': 'Alice', 'age': 30}, {'name': 'Bob', 'age': 25}, {'name': 'Charlie', 'age': 40}]

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1=list1+list2
print(list1)

[1, 2, 3, 4, 5, 6]

In [ ]:
list1 = [1, 2, 3]
s= {4,5,6}
list1.insert(3,s)
print(list1)

[1, 2, 3, {4, 5, 6}]

In [ ]:
s = "The number is "
n = 42

res = s + str(n)

print(res)

The number is 42

1. Python program to insert an element into sorted list

In [ ]:
import bisect
a=[1, 3, 4, 7, 10]
print(a)
bisect.insort(a,5)
print(a)

[1, 3, 4, 7, 10]
[1, 3, 4, 5, 7, 10]

- Using Loop

In [ ]:
a=[2, 5, 8, 12]
# b=66
b=6
for i in range(len(a)):
  if b < a[i]:
    a.insert(i, b)
    break
else:
  a.append(b)
print(a)

[2, 5, 6, 8, 12]

- Using List Comprehension

In [ ]:
a = [3, 6, 9, 15]
b=8
new_list=[x for x in a if x<b]+[b]+[x for x in a if x>=b]
print(new_list)

[3, 6, 8, 9, 15]

In [ ]:
a = [4, 7, 11, 14]
a.append(9)
a.sort()
print(a)

[4, 7, 9, 11, 14]

#### Extending a list in Python

1. Using extend()

In [ ]:
a=[1, 2, 3]
n=[4, 5, 6]
a.extend(n)
print(a)

[1, 2, 3, 4, 5, 6]

2. Using the += Operator

In [ ]:
a=[1, 2, 3]
n=[4, 5, 6]
a +=n
print(a)

[1, 2, 3, 4, 5, 6]

3. Using slicing

In [1]:
a = [1, 2, 3]
b = [4, 5, 6]

# Extending list 'a' using slicing
a[len(a):]=b
print(a)

[1, 2, 3, 4, 5, 6]

4. Using itertools.chain()
  - combines multiple iterables into one continuous sequence, which can be converted to a list or extended into an existing list.

In [1]:
from itertools import chain

a = [1, 2, 3]
b = [4, 5, 6]

# Correct way to combine lists using chain
combined = list(chain(a, b))
print(combined)  # Output: [1, 2, 3, 4, 5, 6]
print("Mahesh")

[1, 2, 3, 4, 5, 6]
Mahesh

#### Remove Item from a List in Python

In [2]:
a = [10, 20, 30, 40, 50]
a.remove(30)
print(a)

[10, 20, 40, 50]

1.  Using remove() - remove item by value

In [3]:
a = [10, 20, 30, 20, 40, 50]

# Remove the first occurance of 20
a.remove(20)
print(a)

[10, 30, 20, 40, 50]

2.  Using pop() - remove item by Index

In [4]:
a = [10, 20, 30, 40, 50]

# Remove element at index 1 and return its value in val
val = a.pop(1)
print(a)
print("Removed Item:", val)

[10, 30, 40, 50]
Removed Item: 20

3.  If we do not specify the index then pop() method removes the last element.

In [5]:
a = [10, 20, 30, 40, 50]

# This will remove the last element
val = a.pop()
print(a)
print("Removed Item:", val)

[10, 20, 30, 40]
Removed Item: 50

4.  Using del() - remove item by index

In [7]:
a = [10, 20, 30, 40, 50, 60, 70]

# Removes elements from index 1 to index 3 (which are 20, 30, 40)
del a[1:4]
print(a)

[10, 50, 60, 70]

5.  Removing multiple elements by index range.

In [8]:
a = [10, 20, 30, 40, 50, 60, 70]

# Removes elements from index 1 to index 3 (which are 20, 30, 40)
del a[1:4]
print(a)

[10, 50, 60, 70]

6.  Using clear() - remove all elements.

In [10]:
a = [10, 20, 30, 40]
print(a)
# Empty a list entirely
a.clear()
print(a)

[10, 20, 30, 40]
[]