In [1]:
## Integers Examples

age = 35
type(age)

int

In [3]:
## floating point numbers Examples

height=5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [4]:
## String data type Examples

name = "Mahesh"
print(name)
print(type(name))

Mahesh
<class 'str'>

In [ ]:
## Boolean data type Examples(True/False)
is_student = True
print(is_student)
print(type(is_student))

True
<class 'bool'>

In [2]:
## default it is false
is_teacher = False
print(is_teacher)
print(type(is_teacher))
bool()

False
<class 'bool'>

False

In [9]:
a = 10
b = 20
print(a == b)  # False
print(a != b)  # True
print(a > b)  # False
print(a < b)  # True
print(a >= b)  # False
print(a <= b)  # True
print(type(a == b))  # <class 'bool'>

False
True
False
True
False
True
<class 'bool'>

In [11]:
## common errors

result = "Hello" + 5

TypeError: can only concatenate str (not "int") to str

In [13]:
result = "Hello" + str(5)
print(result)  # Hello5

Hello5

#### Complex data types

In [2]:
## complex numbers Examples
complex_num = 3 + 4j
print(complex_num)  # Output: (3+4j)
print(type(complex_num))  # Output: <class 'complex'>
print(complex_num.real)  # Output: 3.0
print(complex_num.imag)  # Output: 4.0

(3+4j)
<class 'complex'>
3.0
4.0