In [1]:
## Integers Examples

age = 35
type(age)

int

In [3]:
## floating point numbers Examples

height=5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [4]:
## String data type Examples

name = "Mahesh"
print(name)
print(type(name))

Mahesh
<class 'str'>

In [ ]:
## Boolean data type Examples(True/False)
is_student = True
print(is_student)
print(type(is_student))

True
<class 'bool'>

In [2]:
## default it is false
is_teacher = False
print(is_teacher)
print(type(is_teacher))
bool()

False
<class 'bool'>

False

In [9]:
a = 10
b = 20
print(a == b)  # False
print(a != b)  # True
print(a > b)  # False
print(a < b)  # True
print(a >= b)  # False
print(a <= b)  # True
print(type(a == b))  # <class 'bool'>

False
True
False
True
False
True
<class 'bool'>

In [11]:
## common errors

result = "Hello" + 5

TypeError: can only concatenate str (not "int") to str

In [13]:
result = "Hello" + str(5)
print(result)  # Hello5

Hello5

#### Assignment Operators

In [4]:
# assignment_operators_demo.py

# 1. Simple Assignment (=)
# Assign the value 20 to the variable 'a'
a = 20
print(f"Initial value of a: {a}") # Output: 20

# 2. Addition Assignment (+=)
# This is equivalent to: a = a + 5
a += 5
print(f"After 'a += 5': {a}") # Output: 25

# 3. Subtraction Assignment (-=)
# This is equivalent to: a = a - 10
a -= 10
print(f"After 'a -= 10': {a}") # Output: 15

# 4. Multiplication Assignment (*=)
# This is equivalent to: a = a * 2
a *= 2
print(f"After 'a *= 2': {a}") # Output: 30

# 5. Division Assignment (/=)
# This is equivalent to: a = a / 4. Note the result is a float.
a /= 4
print(f"After 'a /= 4': {a}") # Output: 7.5

# 6. Modulus Assignment (%=)
# Let's reset 'a' to an integer for a clearer modulus example
a = 30
# This is equivalent to: a = a % 7 (30 divided by 7 is 4 with a remainder of 2)
a %= 7
print(f"After 'a %= 7' (from a=30): {a}") # Output: 2

# 7. Exponentiation Assignment (**=)
# This is equivalent to: a = a ** 3 (2 to the power of 3)
a **= 3
print(f"After 'a **= 3': {a}") # Output: 8

# 8. Floor Division Assignment (//=)
# Let's reset 'a' again for a clearer floor division example
a = 17
# This is equivalent to: a = a // 5 (17 divided by 5 is 3.4, floor is 3)
a //= 5
print(f"After 'a //= 5' (from a=17): {a}") # Output: 3

Initial value of a: 20
After 'a += 5': 25
After 'a -= 10': 15
After 'a *= 2': 30
After 'a /= 4': 7.5
After 'a %= 7' (from a=30): 2
After 'a **= 3': 8
After 'a //= 5' (from a=17): 3

#### Identity Operators ==> is, is not

In [5]:
list_a = [1, 2, 3]
list_b = [1, 2, 3]
list_c = list_a # list_c now points to the same object as list_a

# Check for IDENTITY
print(f"list_a is list_b: {list_a is list_b}") # False, because they are two different objects

print(f"list_a is list_c: {list_a is list_c}") # True, because they point to the exact same object

list_a is list_b: False
list_a is list_c: True

In [6]:
list_a = [1, 2, 3]
list_b = [1, 2, 3]
list_c = list_a

# Check for non-identity
print(f"list_a is not list_b: {list_a is not list_b}") # True, they are different objects

print(f"list_a is not list_c: {list_a is not list_c}") # False, they are the same object

list_a is not list_b: True
list_a is not list_c: False

In [7]:
list_a = [10, 20, 30]
list_b = [10, 20, 30]

# IDENTITY check (are they the same object?)
print(f"list_a is list_b: {list_a is list_b}") # False

# EQUALITY check (do they have the same content?)
print(f"list_a == list_b: {list_a == list_b}") # True

list_a is list_b: False
list_a == list_b: True

In [10]:
my_variable = None # Change this to test different scenarios

if my_variable is None:
    print("The variable is None.")

if my_variable is not None:
    print("The variable is not None.")

The variable is None.