* Day One Tasks

In [2]:
print("BCA Sunstone")
year = 2025
print("BCA Sunstone ", year)
special="DS"
print(10, 20, 30)
print("Java", "python", "C++")
print(10+20)
print("Java", "python", "C++", sep="_")
print("Hello", end="\t")
print("World")
print(f"bca sunstone {year}")
print("bca sunstone {}".format(year))

BCA Sunstone
BCA Sunstone  2025
10 20 30
Java python C++
30
Java_python_C++
Hello	World
bca sunstone 2025
bca sunstone 2025

In [3]:
name = input("Enter name: ")
age = int(input("Enter age: "))
print(f"Hello {name}, you will be {age+1} next year")

ValueError: invalid literal for int() with base 10: ''

In [ ]:
n1 = int(input("Enter number 1: "))
n2 = int(input("Enter number 2: "))
print(f"Sum: {n1+n2}")
print(f"Product: {n1*n2}")
print(f"Average: {(n1+n2)/2}")

Sum: 42
Product: 440
Average: 21.0

In [ ]:
li=[10, 20, 30, 40]
print(li.index(30))
print(type(li))
li2=['Raju', 'Python', 2025]
l3=[True, 1, 'BCA']
print(li)
print(li2)
print(l3)
lir=li[::-1]
print(lir)
li.append(50)
li.insert(0,202)
print(li)
li.pop()
print(li)
li.pop(0)
print(li)

2
<class 'list'>
[10, 20, 30, 40]
['Raju', 'Python', 2025]
[True, 1, 'BCA']
[40, 30, 20, 10]
[202, 10, 20, 30, 40, 50]
[202, 10, 20, 30, 40]
[10, 20, 30, 40]

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9] # Take input from user
even_numbers = [x for x in numbers if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8]

In [ ]:
n=int(input('Enter No.of values: '))
numbers = []
for i in range(0,n):
    if i % 2 == 0:
        numbers.append(i**2)
print(numbers)

[0, 4, 16, 36, 64]

In [ ]:
n=int(input("Enter number: "))
for i in range(1, n+1):
    print('*' * i)

*
**
***
****
*****

In [ ]:
n=int(input("Enter number: "))
for i in range(n):
    for j in range(i + 1):
        print(j, end=" ")
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [ ]:
n=int(input("Enter number: "))
for i in range(n):
    print(f'{i}',end=' ')

0 1 2 3 4

In [ ]:
n=int(input('Enter Number Of Rows: '))
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i+1):
        print('*',end=' ')
    for j in range(i):
        print('*',end=' ')
    print()

                    *
                  * * *
                * * * * *
              * * * * * * *
            * * * * * * * * *
          * * * * * * * * * * *
        * * * * * * * * * * * * *
      * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * *

In [ ]:
n=10
for i in range(n):
    for j in range(i+n):
        print('*',end='  ')
    print()

*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *

In [ ]:
n=int(input('Enter Number Of Rows: '))
print(f"Rows Entered: {n}")
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i+1):
        print('*',end=' ')
    for j in range(i):
        print('*',end=' ')
    print()

Rows Entered: 10
                    *
                  * * *
                * * * * *
              * * * * * * *
            * * * * * * * * *
          * * * * * * * * * * *
        * * * * * * * * * * * * *
      * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * *

In [ ]:
n=int(input('Enter Number Of Rows: '))
print(f"Rows Entered: {n}")
for i in range(n):
    for j in range(i):
        print(' ',end=' ')
    for j in range(i,n):
        print('*',end=' ')
    for j in range(i,n-1):
        print('*',end=' ')
    print()

Rows Entered: 10
* * * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * *
      * * * * * * * * * * * * *
        * * * * * * * * * * *
          * * * * * * * * *
            * * * * * * *
              * * * * *
                * * *
                  *

In [ ]:
n=5
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i+1):
        print('*',end=' ')
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [ ]:
n=5
for i in range(n):
    print('' * (n-i) + '* ' * (i+1))
for i in range(n):
    print(' ' * (n-i) + '* ' * (i+1))
for i in range(n):
    print('  ' * (n-i) + '* ' * (i+1))

*
* *
* * *
* * * *
* * * * *
     *
    * *
   * * *
  * * * *
 * * * * *
          *
        * *
      * * *
    * * * *
  * * * * *

In [ ]:
n=10
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i+1):
        print('*',end=' ')
    for j in range(i):
        print('*',end=' ')
    print()

                    *
                  * * *
                * * * * *
              * * * * * * *
            * * * * * * * * *
          * * * * * * * * * * *
        * * * * * * * * * * * * *
      * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * *

In [ ]:
n=5
for i in range(n-1):
    for j in range(i):
        print(' ',end=' ')
    for j in range(i,n):
        print('*',end=' ')
    for j in range(i,n-1):
        print('*',end=' ')
    print()
for i in range(n):
    for j in range(i,n-1):
        print(' ',end=' ')
    for j in range(i+1):
        print('*',end=' ')
    for j in range(i):
        print('*',end=' ')
    print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
n=5
p=5
for i in range(n-1):
    for j in range(i):
        print(' ',end=' ')
    for j in range(i,n):
        print(p,end=' ')
    for j in range(i,n-1):
        print(p,end=' ')
    p-=1
    print()
for i in range(n):
    for j in range(i,n-1):
        print(' ',end=' ')
    for j in range(i+1):
        print(p,end=' ')
    for j in range(i):
        print(p,end=' ')
    p+=1
    print()

5 5 5 5 5 5 5 5 5
  4 4 4 4 4 4 4
    3 3 3 3 3
      2 2 2
        1
      2 2 2
    3 3 3 3 3
  4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5

In [ ]:
n=9
p=0
for i in range(n):
    for j in range(i+1):
        print(p,end=' ')
    p+=1
    print()

0
1 1
2 2 2
3 3 3 3
4 4 4 4 4
5 5 5 5 5 5
6 6 6 6 6 6 6
7 7 7 7 7 7 7 7
8 8 8 8 8 8 8 8 8

In [ ]:
n=5
p=5
for i in range(n):
    for j in range(i+1):
        print(p,end=' ')
    p-=1
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [ ]:
n=5
p=0
for i in range(n):
    for j in range(i+1):
        print(p,end=' ')
    p+=2
    print()

0
2 2
4 4 4
6 6 6 6
8 8 8 8 8

In [ ]:
n=5
p=1
for i in range(n):
    for j in range(i+1):
        if i%2==0:
            print('1',end=' ')
        else:
            print('2',end=' ')
    print()

1
2 2
1 1 1
2 2 2 2
1 1 1 1 1

In [ ]:
n=5
p=1
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i+1):
        if i%2==0:
            print('#',end=' ')
        else:
            print('$',end=' ')
    for j in range(i):
        if i%2==0:
            print('#',end=' ')
        else:
            print('$',end=' ')
    print()

          #
        $ $ $
      # # # # #
    $ $ $ $ $ $ $
  # # # # # # # # #

In [ ]:
n=5
p=1
for i in range(n-1): # n+1 also works
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i+1):
        print(p,end=' ')
    for j in range(i):
        print(p,end=' ')
    p+=1
    print()
for i in range(n):
    for j in range(i+1):
        print(' ',end=' ')
    for j in range(i,n):
        print(p,end=' ')
    for j in range(i,n-1):
        print(p,end=' ')
    p+=1
    print()

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
    6 6 6 6 6 6 6
      7 7 7 7 7
        8 8 8
          9

In [ ]:
n=5
p=1
for i in range(n-1): # n+1 also works
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i+1):
        print(p,end=' ')
    for j in range(i):
        print(p,end=' ')
    p+=1
    print()
for i in range(n):
    for j in range(i+1):
        print(' ',end=' ')
    for j in range(i,n):
        print(p,end=' ')
    for j in range(i,n-1):
        print(p,end=' ')
    p-=1
    print()

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
    4 4 4 4 4 4 4
      3 3 3 3 3
        2 2 2
          1

In [ ]:
n=5
for i in range(n):
    p=1
    for j in range(i+1):
        print(p,end=' ')
        p+=1
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

### Number Pattern Programs

In [ ]:
## Increasing Triangle
n=int(input('Enter Number Of Rows: '))
for i in range(n):
    for j in range(i,n-1):
        print(' ',end=' ')
    for j in range(i+1):
        print('*',end=' ')
    print()
# for i in range(n):
#     for j in range(i):
#         print(' ',end=' ')
#     for j in range(i,n):
#         print('*',end=' ')
#     print()

                  *
                * *
              * * *
            * * * *
          * * * * *
        * * * * * *
      * * * * * * *
    * * * * * * * *
  * * * * * * * * *
* * * * * * * * * *

In [ ]:
## Increasing Triangle
n=int(input('Enter Number Of Rows: '))
for i in range(n-1):
    for j in range(i,n-1):
        print(' ',end=' ')
    for j in range(i+1):
        print('*',end=' ')
    print()
for i in range(n):
    for j in range(i):
        print(' ',end=' ')
    for j in range(i,n):
        print('*',end=' ')
    print()

                  *
                * *
              * * *
            * * * *
          * * * * *
        * * * * * *
      * * * * * * *
    * * * * * * * *
  * * * * * * * * *
* * * * * * * * * *
  * * * * * * * * *
    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [ ]:
## Decreasing Triangle
n=int(input('Enter Number Of Rows: '))
for i in range(n):
    for j in range(i):
        print(' ',end=' ')
    for j in range(i,n):
        print('*',end=' ')
    print()

* * * * * * * * * *
  * * * * * * * * *
    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [ ]:
n=int(input('Enter Number Of Rows: '))
for i in range(n):
    for j in range(i+1):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [ ]:
n=int(input('Enter Number Of Rows: '))
for i in range(n):
    for j in range(i,n):
        print('*',end=' ')
    print()

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
n=int(input('Enter Number Of Rows: '))
for i in range(n+1):# n-1 also works
    for j in range(i+1):
        print('*',end=' ')
    print()
for i in range(n):
    for j in range(i,n):# same consider
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
n=int(input('Enter Number Of Rows: '))
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i+1):
        print('*',end=' ')
    print()

                    *
                  * *
                * * *
              * * * *
            * * * * *
          * * * * * *
        * * * * * * *
      * * * * * * * *
    * * * * * * * * *
  * * * * * * * * * *

In [ ]:
n=int(input('Enter Number Of Rows: '))
for i in range(n):
    for j in range(i+1):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [ ]:
n=int(input('Enter Number Of Rows: '))
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i):  #changed i+1 to i
        print('*',end=' ')
    for j in range(i+1): #else do here 
        print('*',end=' ')
    print()

                    *
                  * * *
                * * * * *
              * * * * * * *
            * * * * * * * * *
          * * * * * * * * * * *
        * * * * * * * * * * * * *
      * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * *

#### Above are basic patterns must aware to move with number pattern

In [ ]:
n=int(input('Enter Number Of Rows: '))
p=1
for i in range(n):
    for j in range(i+1):
        print(p,end=' ')
    print()

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1
1 1 1 1 1 1
1 1 1 1 1 1 1
1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1

In [ ]:
n=int(input('Enter Number Of Rows: '))
p=1
for i in range(n+1):# n-1 also works
    for j in range(i+1):
        print(p,end=' ')
    print()
for i in range(n):
    for j in range(i,n):# same consider
        print(p,end=' ')
    print()

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1
1 1 1 1 1 1
1 1 1 1 1 1 1
1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1
1 1 1 1 1 1 1
1 1 1 1 1 1
1 1 1 1 1
1 1 1 1
1 1 1
1 1
1

In [ ]:
n=int(input('Enter Number Of Rows: '))
p=1
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i):  #changed i+1 to i
        print(p,end=' ')
    for j in range(i+1): #else do here 
        print(p,end=' ')
    print()

                    1
                  1 1 1
                1 1 1 1 1
              1 1 1 1 1 1 1
            1 1 1 1 1 1 1 1 1
          1 1 1 1 1 1 1 1 1 1 1
        1 1 1 1 1 1 1 1 1 1 1 1 1
      1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
    1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
  1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1

In [ ]:
## Increasing Triangle
## Incrementing Triangle
n=int(input('Enter Number Of Rows: '))
p=1
for i in range(n):
    for j in range(i+1):
        print(p,end=' ')
    p+=1
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
n=5
for i in range(n):
    p=1
    for j in range(i+1):
        print(p,end=' ')
        p+=1
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
n=5
for i in range(n):
    p=1
    for j in range(i):
        print(' ',end=' ')
    for j in range(i,n):
        print(p,end=' ')
        p+=1
    print()

1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1

In [ ]:
n=5
for i in range(n):
    p=1
    for j in range(i+1):
        print(' ',end=' ')
    for j in range(i,n-1):
        print(p,end=' ')
        p+=1
    for j in range(i,n):
        print(p,end=' ')
        p-=1
    print()

  1 2 3 4 5 4 3 2 1
    1 2 3 4 3 2 1
      1 2 3 2 1
        1 2 1
          1

In [ ]:
n=int(input('Enter Number Of Rows: '))
for i in range(n):
    p=1
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i):  #changed i+1 to i
        print(p,end=' ')
        p+=1
    for j in range(i+1): #else do here 
        print(p,end=' ')
        p+=1
    print()

          1
        1 2 3
      1 2 3 4 5
    1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8 9

In [ ]:
n=5
k=5
for i in range(n):
    p=k
    for j in range(i):
        print(' ',end=' ')
    for j in range(i,n):
        print(p,end=' ')
        p-=1
    k-=1
    print()

5 4 3 2 1
  4 3 2 1
    3 2 1
      2 1
        1

In [ ]:
n=4
p=1
for i in range(n):
    for j in range(i+1):
        print(p,end=' ')
        p+=1
    print()

1
2 3
4 5 6
7 8 9 10

#### Character Pattern Programs (Pattern + Characters) do not mix

#### ASCII Characters
#### A - Z [65 - 90]
#### a - z [97 - 122]
#### 0 - 9 [48 - 57]

In [ ]:
for i in range(65,91):
    print(chr(i),end=' ')

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [ ]:
for i in range(97,123):
    print(chr(i),end=' ')

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [ ]:
for i in range(48,58):
    print(chr(i),end=' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
n=5
p=65
for i in range(n):
    for j in range(i+1):
        print(chr(p),end=' ')
    print()

A
A A
A A A
A A A A
A A A A A

In [ ]:
n=5
alp=65
for i in range(n):
    for j in range(i+1):
        print(chr(alp),end=' ')
    alp+=1
    print()

A
B B
C C C
D D D D
E E E E E

In [ ]:
n=5
alp=65
for i in range(n):
    for j in range(i+1):
        if i%2==0:
            print(chr(alp),end=' ')
        else:
            print(chr(alp+1),end=' ')
    print()

A
B B
A A A
B B B B
A A A A A

In [ ]:
n=5
alp=65
for i in range(n):
    for j in range(i+1):
        print(chr(alp),end=' ')
    alp+=2
    print()

A
C C
E E E
G G G G
I I I I I

In [ ]:
n=5
p=69
for i in range(n):
    for j in range(i+1):
        print(chr(p),end=' ')
    p-=1
    print()

E
D D
C C C
B B B B
A A A A A

In [ ]:
n=5
p=69
for i in range(n):
    k=p
    for j in range(i):
        print(' ',end=' ')
    for j in range(i,n):
        print(chr(k),end=' ')
        k-=1
    p-=1
    print()

E D C B A
  D C B A
    C B A
      B A
        A

In [ ]:
n=5
p=65
for i in range(n-1):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i+1):
        print(chr(p),end=' ')
    for j in range(i):
        print(chr(p),end=' ')
    p+=1
    print()
for i in range(n):
    for j in range(i+1):
        print(' ',end=' ')
    for j in range(i,n):
        print(chr(p),end=' ')
    for j in range(i,n-1):
        print(chr(p),end=' ')
    p-=1
    print()

          A
        B B B
      C C C C C
    D D D D D D D
  E E E E E E E E E
    D D D D D D D
      C C C C C
        B B B
          A

In [ ]:
n=5
for i in range(n):
    p=65
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i):
        print(chr(p),end=' ')
        p+=1
    for j in range(i+1):
        print(chr(p),end=' ')
        p-=1
    print()

          A
        A B A
      A B C B A
    A B C D C B A
  A B C D E D C B A

In [ ]:
s='CODER'
n=len(s)
p=0
for i in range(n+1):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i):
        print(s[p],end=' ')
    p-=1
    print()

        R
      E E
    D D D
  O O O O
C C C C C

In [ ]:
s='CODER'
n=len(s)
p=0
for i in range(n+1):
    for j in range(i):
        print(s[p],end=' ')
    p-=1
    print()

R
E E
D D D
O O O O
C C C C C

In [ ]:
s='CODER'
n=len(s)
p=0
for i in range(n+1):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i-1): # i also works if next loop follows i-1
        print(s[p],end=' ')
    for j in range(i): # i-1 also works if previous loop follows i
        print(s[p],end=' ')
    p-=1
    print()

        R
      E E E
    D D D D D
  O O O O O O O
C C C C C C C C C

In [ ]:
s='CODER'
n=len(s)
k=n-1
for i in range(n):
    p=k
    for j in range(i):
        print(' ',end=' ')
    for j in range(i,n):
        print(s[p],end=' ')
        p-=1
    print()
    k-=1

R E D O C
  E D O C
    D O C
      O C
        C

In [ ]:
s='CODER'
n=len(s)
for i in range(n):
    p=0
    for j in range(i+1):
        print(s[p],end=' ')
        p+=1
    print()

C
C O
C O D
C O D E
C O D E R

In [11]:
s='CODER'
n=len(s)
for i in range(n):
    p=0
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i+1):
        print(s[p],end=' ')
        p+=1
    print()

          C
        C O
      C O D
    C O D E
  C O D E R

In [12]:
n = 5
for i in range(n):
    for j in range(n):
        if i == 0 or i == n-1 or j == 0 or j == n-1:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

* * * * *
*       *
*       *
*       *
* * * * *