#### Tuple:
* A tuple is a collection which is ordered and unchangeable. Allows duplicate members.
* Tuples are written with round brackets.
* Tuples are unchangeable, meaning that we cannot change, add or remove items once the tuple is created.
* Tuples are used to write-protect data and they are usually used for heterogenous (different) data types, while lists are used for homogenous (similar) data types.
* Tuples are faster than lists.
* Tuples are immutable, so we cannot change its content without creating a new tuple.
* Tuples allows duplicate members.
* Tuples are written with round brackets.
* Tuples are ordered, so we can access items by referring to their index.
* Tuples are immutable, so we cannot change its content without creating a new tuple.
* Tuples allows duplicate members.

In [1]:
## creating tuple
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst = list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [ ]:
numbers = ([1, 2, 3, 4, 5], [6, 7, 8, 9, 10])
print(numbers)

([1, 2, 3, 4, 5], [6, 7, 8, 9, 10])

In [11]:
list_of_tuples = [(1, 2), (3, 4), (5, 6)]
print(list_of_tuples)
print(type(list_of_tuples))

[(1, 2), (3, 4), (5, 6)]
<class 'list'>

In [12]:
mixed_tuple = (1, "hello", 3.14, True)
print(mixed_tuple)

(1, 'hello', 3.14, True)

* Accessing Tuple Elements

In [16]:
numbers = (1, 2, 3, 4, 5)
print(numbers)
print(type(numbers))
# Accessing Tuple Elements
print(numbers[0])  # Accessing the first element
print(numbers[1])  # Accessing the second element
print(numbers[-1])  # Accessing the last element
print(numbers[-2])  # Accessing the second last element
print(numbers[1:3])  # Accessing a slice of the tuple
print(numbers[1:5:2])  # Accessing every second element from the second to the fifth element
print(numbers[:3])  # Accessing the first three elements
print(numbers[2:])  # Accessing the elements from the third element to the end

(1, 2, 3, 4, 5)
<class 'tuple'>
1
2
5
4
(2, 3)
(2, 4)
(1, 2, 3)
(3, 4, 5)

In [19]:
numbers[::] # Accessing all elements (equivalent to the original tuple)
print(numbers[::])  # Printing all elements
numbers[::-1]  # Reversing the tuple
print(numbers[::-1])  # Printing the reversed tuple

(1, 2, 3, 4, 5)
(5, 4, 3, 2, 1)

##### Tuple Operations

* Concatenation

In [23]:
tupleOne = (1, 2, 3)
tupleTwo = (4, 5, 6)
# Concatenation
concatenated_tuple = tupleOne + tupleTwo
print(concatenated_tuple)  # Output: (1, 2, 3, 4, 5, 6)
# Repetition
print(tupleOne*2)  # Output: (1, 2, 3, 1, 2, 3)
print(tupleOne*3)  # Output: (1, 2, 3, 1, 2, 3, 1, 2, 3)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

### Immutable Nature Of Tuples

* Meaning that we cannot change the elements of a tuple once it is created.

In [24]:
numbers = (1, 2, 3, 4, 5)
print(numbers)
print(type(numbers))
# Immutable Nature Of Tuples
numbers[0] = 10  # This will raise an error
print(numbers)

(1, 2, 3, 4, 5)
<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

* Tuple Methods

In [43]:
Tuple= (1, 2, 3, 4, 5, 'hello', 3.14, True, 1, 2, 3)
print(Tuple)
print(Tuple.count(1))  # Count occurrences of 1
print(Tuple.index(3))  # Find the index of the first occurrence of 3
print(Tuple.index('hello'))  # Find the index of the first occurrence of 'hello'
print(2 in Tuple)
print(2 not in Tuple)
print(66 not in Tuple)

(1, 2, 3, 4, 5, 'hello', 3.14, True, 1, 2, 3)
3
2
5
True
False
True

In [29]:
print(min(Tuple))  # Find the minimum value in the tuple
print(max(Tuple))  # Find the maximum value in the tuple

TypeError: '<' not supported between instances of 'str' and 'int'

In [52]:
otherTuple = (1,2,1,3,5,16,22,50,3)
print(min(otherTuple))
print(max(otherTuple))
print(sum(otherTuple))
print(len(otherTuple))

1
50
103
9

In [51]:
t1 = (1,2,3)
t2 = (1,2,3)
print(t1 == t2)
print(t1 != t2)

True
False

##### Packing and Unpacking

In [4]:
## Packing
packed_tuple=1, "Hello", 3.14, True
print("packed_tuple:", packed_tuple)
print(type(packed_tuple))
## Unpacking
a, b, c, d = packed_tuple
print("a:", a)
print("b:", b)
print("c:", c)
print("d:", d)

packed_tuple: (1, 'Hello', 3.14, True)
<class 'tuple'>
a: 1
b: Hello
c: 3.14
d: True

In [6]:
## unpacking tuple with *
numbers = (1, 2, 3, 4, 5,6)
first,*middle,last=numbers
print("first:", first)
print("middle:", middle)
print("last:", last)

first: 1
middle: [2, 3, 4, 5]
last: 6

#### Nested Tuple

In [12]:
## Nested Tuple
nested_tuple = (1, 2, (3, 4), (5, 6))
print("nested_tuple:", nested_tuple)
print("Accessing nested tuple:", nested_tuple[2])  # Accessing the third element which is a tuple
print("Accessing element in nested tuple:", nested_tuple[2][0])  # Accessing the first element of the nested tuple

nested_tuple: (1, 2, (3, 4), (5, 6))
Accessing nested tuple: (3, 4)
Accessing element in nested tuple: 3

#### Iterating over nested tuple:

In [16]:
nested_tuple = ((1,2,3),("a","b","c"),(True,False))
print("nested_tuple:", nested_tuple)
for sub_tuple in nested_tuple:
    for element in sub_tuple:
        print(element, end=' ')
    print()

nested_tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))
1 2 3
a b c
True False