* 1. for loop
    * Iterating over a range
    * Iterating over a string
* 2. while loop
* 3. break continue and pass
* 4. Nested loops

In [ ]:
## for loop
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
## for loop
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [6]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [ ]:
for i in range(10, 1, -1):
    print(i)

10
8
6
4
2

In [11]:
## for loop with strings
str = "Mahesh"
for i in str:
    print(i)

M
a
h
e
s
h

In [12]:
## while loop
## The while loop will continue until the condition is false
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [14]:
count = 0
while count%2 == 0:
    print(count)
    count += 1

0

In [16]:
## loop control statements
## break statement: It is used to exit the loop prematurely
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [17]:
## continue statement: It is used to skip the current iteration and continue with the next iteration
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [22]:
## pass statement: It is a null operation; it is used when a statement is required syntactically but you do not want any command or code to execute.
for i in range(10):
    if i % 2 == 0:
        pass
        # print(i)    # Do nothing for even numbers
    else:
        print(i)    # Print odd numbers

1
3
5
7
9

In [21]:
for i in range(5):
    if i == 3:
        pass  # Do nothing for i == 3
    print(i)  # Print all other numbers

0
1
2
3
4

In [23]:
## Nested loops
## a loop inside another loop
for i in range(3):
    for j in range(2):
        print(f"i: {i}, j: {j}")
        # print(f"i: {i}, j: {j}")

i: 0, j: 0
i: 0, j: 1
i: 1, j: 0
i: 1, j: 1
i: 2, j: 0
i: 2, j: 1

In [2]:
## Calculate the sum of first N natural numbers using while loop
n = 10
sum = 0
i = 1
while i <= n:
    sum += i
    i += 1
print(sum)

55

In [27]:
## Calculate the sum of first N natural numbers using for loop
n = 10
sum = 0
for i in range(1, n+1):
    sum += i
print(sum)

55

In [28]:
## prime numbers between 1 and 100
for num in range(1, 101):
    if num > 1:
        for i in range(2, int(num**0.5) + 1):
            if (num % i) == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97